*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
/* CSS HEX */
--cor-text: #000000;
--cor-amarelo-claro: #fef08e;
--cor-cinza: #25313f;
--cor-cinza-claro: #DCDCDC;
--cor-cinza-escuro: #A9A9A9;
--cor-amarelo: #c79502;
--cor-azul-claro: #28c9ef;
--cor-azul-escuro: #0c7ef6;
--cor-vermelho: #91082a;
--cor-green: #1a8754;
--cor-fundo: #ebebec;
--cor-fundo-header: #25313f;
--cor-mark-hover-menu: #01496d;
--cor-vermelho-claro: #db3848;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Arial", Sans-Serif;
  background: var(--cor-fundo);
  min-height: 100svh;
  color: var(--cor-text);
}
/*container*/
.container {
  display: flex;
  width: 100%;
  min-height: 100svh;
}

/*header*/
.header {
  background: var(--cor-fundo-header);
  color: var(--cor-fundo);
  max-width: 250px;
  min-width: 250px;
  height: 100vh;
  display: block;
  overflow-y: auto;
}
.header-left {
  text-align: left;
}
.logo {
  margin-bottom: 1em;
  padding: 1rem;
}
.logo h1 {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.logo p {
  text-align: left;
  margin-left: 30px;
}
.header-left h4 {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
/*menu-left*/
.mark {
  background: var(--cor-mark-hover-menu);
  border-left: 2px solid var(--cor-green);
}
.paginaIndica, .span {
  display: inline-block;
  margin: 1rem 0;
  text-decoration: none;
  font-style: italic;
  color: var(--cor-cinza-escuro);
  font-weight: bold;
}
#menu.ativo {
  display: block;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-left {
  width: 100%;
}
.menu-left ul, li{
  width: 100%;
  list-style: none;
}
.menu-left a {
  color: var(--cor-fundo);
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
}
.menu-left img {
  width: 24px;
  height: 24px;
}
.menu-left a:hover {
  background: var(--cor-mark-hover-menu);
  border-left: 2px solid var(--cor-green);
  transition: background 0.5s ease-in-out;
}


/*main*/
.main-padding {
  width: 100%;
  padding: 1rem;
}
.main {
  width: 100%;
  position: relative;
  padding-bottom: 70px;
}
/*nav topo do main*/
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  margin: 0;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7));
  backdrop-filter: blur(10px);
}
.nav-top h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem
}
#botao {
  display: none;
}
#botao img {
  width: 35px;
  height: 35px;
  background: transparent;
  margin: 0;
  padding: 0;
}
/*CARDS*/
.cards {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}
.cards h4 {
  font-weight: 400;
  text-transform: uppercase;
}
.card-azul {
  background: var(--cor-azul-escuro);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--cor-fundo);
  text-align: center;
}
.card-verde {
  background: var(--cor-green);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--cor-fundo);
  text-align: center;
}
.card-azul-claro {
  background: var(--cor-azul-claro);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--cor-fundo);
  text-align: center;
}
.card-amarelo {
  background: var(--cor-amarelo);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--cor-fundo);
  text-align: center;
}
.card-vermelho {
  background: var(--cor-vermelho);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--cor-fundo);
  text-align: center;
}
.card-cinza {
  background: var(--cor-cinza);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--cor-fundo);
  text-align: center;
}
/* CARD2 */
.card2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 0.5rem 0.5rem;
}
.card2-hero1, .card2-hero2 {
  margin: 0;
  padding: 0;
  border-radius: 0.5rem 0.5rem;
  box-shadow: 1px 1px 10px var(--cor-cinza-escuro);
}
.card2-hero1-titulo {
  background: var(--cor-cinza-claro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card2-hero1-titulo h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card2-hero1-titulo span {
  background: var(--cor-azul-escuro);
  color: var(--cor-fundo);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.card-agendamentos {
  background: transparent;
  padding: 2rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.card2-hero2 a{
  background: var(--cor-fundo);
  padding: 0.5rem 1rem;
  border: 0.2rem solid var(--cor-azul-escuro);
  text-decoration: none;
  color: var(--cor-text);
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
}
.card2-hero2 a:hover {
  background: var(--cor-azul-escuro);
  color: var(--cor-fundo);
}
/*CLIENTES*/
.buscar-cliente {
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px var(--cor-cinza-escuro);
}
.buscar-cliente label {
  display: inline-block;
  width: 100%;
}
.buscar-cliente input {
  padding: 1rem;
  width: 100%;
  font-size: 1.8rem;
  overflow: auto;
  border: none;
  outline: 0.1rem solid var(--cor-cinza-escuro);
  border-radius: 0.5rem;
  background: var(--cor-fundo);
  height: 4rem;
}
.buscar-cliente input:hover {
  outline: 0.1em solid var(--cor-amarelo);
}
.btn-busca {
  display: flex;
  gap: 1rem;
}
.btn-busca button {
  background: var(--cor-azul-escuro);
  padding: 1rem;
  height: 4rem;
  color: var(--cor-fundo);
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}
.btn-busca a {
  background: var(--cor-green);
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 4rem;
  text-wrap: nowrap;
  text-decoration: none;
  color: var(--cor-fundo);
  border-radius: 0.5rem;
}
.bloco {
  width: 100%;
  padding: 1rem;
}
.scroll {
  width: 100%;
  overflow-x: auto;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px var(--cor-cinza-escuro);
}
.table {
  background: var(--cor-fundo);
  width: 100%;
  min-width: 600px;
  text-align: left;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-shadow: 1px 1px 10px var(--cor-cinza-escuro);
  border-radius: 0.5rem;
  border-collapse: collapse;
}
.table th {
  background: var(--cor-green);
  color: var(--cor-fundo);
  padding: 1rem;
  text-align: left;
  margin: 0;
}

.table td {
  padding: 1rem;
  border-bottom: 1px solid var(--cor-cinza-escuro);
}

.table tr:nth-child(even) {
  background: var(--cor-cinza-escuro);
}

.table tr:hover {
  background: var(--cor-cinza-claro);
  transition: .2s;
}
.edit-cliente {
  display: flex;
  gap: 0.5rem;
  justify-content: right;
}
.edit-cliente a {
  width: 40px;
  height: 40px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-cliente img {
  width: 34px;
  height: 34px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--cor-cinza-escuro);
}
.edit {
  background: var(--cor-amarelo);
}
.delete {
  background: var(--cor-vermelho);
}

/*footer*/
.footer {
  width: 100%;
  background: var(--cor-fundo-header);
  position: fixed;
  bottom: 0;
  color: var(--cor-fundo);
  padding: 1em;
  text-align: center;
}
.footer p {
  font-size: 1.4rem;
}


/* media queries */
@media (max-width: 900px){
  /*header*/
  .header {
    display: none;
  }
  /*botao menu mobile*/
  #botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    cursor: pointer;
    outline: 0.2rem solid var(--cor-mark-hover-menu);
    width: 45px;
    height: 45px;
    border-radius: 0.5rem;
  }
  /*main*/
  .card2 {
    grid-template-columns: 1fr;
  }
  /*CLIENTES*/
  .buscar-cliente {
    display: block;
  }
  .buscar-cliente label {
    margin: 1rem 0;
  }

}